.avatar {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
#fm {
    margin: 5px;
}

#profile-form .row .col-2 .card .card-body button {
    width: -webkit-fill-available;
}

.panel .window .panel-htop {
    width: 50%;
}

.ftitle{
    font-size:14px;
    font-weight:bold;
    color:#0733AB;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #0733AB;
}
.fitem{
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 300px;
    display: block;
}
.inline{
    display: inline-block;
    min-width: 280px;
    padding: 0;
}

.fitem textarea {
    margin-left: 0px !important;
    width: -webkit-fill-available !important;
    padding: 5px;
}

.fitem textbox {
    width: -webkit-fill-available;
}

@media screen and (max-width: 700px) {

    .inline{
        display: block;
    }

    textarea {
        width: 75% !important;
    }
    .m-title {
        text-align: left !important;
    }
}

.fitem input{
    width: 179px;
    padding: 5px;
}

.easyui-combobox{
    width:100px;
    padding: 5px;
}
.easyui-textbox{
    width:100px;
    padding: 5px;
}

.fitem label{
    display:inline-block;
    width:80px;
    vertical-align: top;
    padding: 5px;
}

.panel-body{
    border-top-width: 1px !important;
}

.panel-header{
    border-bottom-width: 0 !important;
}